html,
body {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    background-color: black;
    color: rgb(244, 186, 114);
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 30px;
}

#react-qr-value {
    border: 2px solid white;
}

button,
input {
    padding: 10px;
}

h1 {
    font-size: 2rem;
}